@import "_color.scss", "_breakpoint.scss";

//********** FONTES **********
@font-face {
    font-family: Averta-ExtraBold;
    font-display: swap;
    src: url(../font/Averta-ExtraBold.otf);
}

@font-face {
    font-family: Averta-Regular;
    font-display: swap;
    src: url(../font/Averta-Regular.otf);
}

//********** BODY **********
*{
    font-family: Averta-Regular;
}

//********** CREDITS **********
.credits{
    color: $aurora;
    font-size: 0.9rem;
}

//********** LOGIN **********
.login{
    margin: 30% auto;
    .login-logo{
        width: 100%;
        padding: 0rem 5rem 2rem 5rem;
        @include lg{
            padding: 0rem 3rem 2rem 3rem;
        }
        @include md{
            padding: 0rem 2rem 2rem 2rem;
        }
    }
    .login-form{
        background-color: $aurora;
        border-radius: 0.8rem;
        form{
            div{
                label{
                    font-family: Averta-ExtraBold;
                    font-size: 1rem;
                }
                input{
                    border-radius: 0.5rem;
                    margin: -0.3rem 0rem 0rem 0rem;
                }
            }
            button{
                background-color: $azul-claro-01;
                border-radius: 0.5rem;
                font-family: Averta-ExtraBold;
                color: $aurora;
                &:hover{
                    background-color: $azul-claro-01 !important;
                    color: $aurora !important;
                }
            }
        }
        .alert{
            border-radius: 0.5rem;
            font-family: Averta-ExtraBold;
            font-size: 0.9rem;
        }
    }
}